
<div class="col-md-6">
  <h4>List of Patient's history</h4>
  <ul class="list-group">
    <li
      *ngFor="let pathistory of pathistory; let i = index"
      [class.active]="i == currentIndex"
      (click)= "setCurrentPatHistory(pathistory, i) ">
       Patient {{pathistory.patId}}: note/recommandation
    </li>

  </ul>

  <div class="col-md-6">
  <div *ngIf="currentPatHistory">
  <h3>details </h3>
      <div>
        <label><strong>patId:</strong></label> {{currentPatHistory.patId}}
      </div>
      <div>
        <label><strong>e:</strong></label> {{currentPatHistory.e}}
      </div>
      <a class="btn btn-warning" routerLink="/pathistory/{{currentPatHistory.id}}">
        Edit
      </a>
    <div>
      <a class="btn btn-warning" routerLink="/report/{{currentPatHistory.patId}}">
        Diabet Report
      </a>
    </div>
  </div>

    <div *ngIf="!currentPatHistory">
      <br />
      <p>Please click on a patient history</p>
    </div>
  </div>
</div>

